

@{
    ViewBag.Title = "About page";
}

<div class="container">
    <h2 class="display-4">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <p>Use this area to provide additional information.</p>
    <p><b>name : </b>@ViewBag.infomation.name</p>
    <p><b>firstname : </b>@ViewBag.infomation.firstname</p>
    <p><b>lastname : </b>@ViewBag.infomation.lastname</p>
    <p><b>fullname : </b>@ViewBag.infomation.fullname</p>
    <p><b>email : </b>@ViewBag.infomation.email</p>

</div>

@for (int i = 0; i < 8; i++)
{

    <br></br>

}