

@{
    ViewBag.Title = "Contact page";
}


<h2 class="display-4">@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


<address>
    One Microsoft Way<br>
    Redmond, WA 98052-6399<br>
    <p><b>Address : </b>@ViewBag.infomation.address</p>
    <p><b>City : </b>@ViewBag.infomation.city</p>
    <p><b>Nation : </b>@ViewBag.infomation.nation</p>
  
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>

@for (int i = 0; i < 5; i++)
{

    <br></br>

}
